.container {
    display: flex;
    flex-direction: column;


}

.container .container-localStorage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container .container-sesionStorage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}